# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Data artifacts
/data/
/models/
/mlruns/

# DVC
.dvc/tmp/
.dvc/cache/

# Misc
.ipynb_checkpoints/
.DS_Store
.env.local
*.log

# Testing
.coverage
